<h1 style = "color:pink;">My name is Angela Tseng.</h1>
<br />
<h1 style = "color:lightblue">I am from Fremont.</h1>
<br />
<h1 style = "color:pink">I am a sophomore.<h1/>
<br />
<h1 style = "color:lightblue">I really like to eat bread.<h1/>
<br />
<h1 style = "color:pink">I hope to learn how to make a website.<h1/>
